In [12]:
import pandas as pd
import json
import os

# Read the Excel file into a DataFrame
excel_file = '../inputdata/mapping.xlsx'
df_sources1 = pd.read_excel(excel_file, sheet_name='Sources1')
df_target1 = pd.read_excel(excel_file, sheet_name='Target1')
df_sources2 = pd.read_excel(excel_file, sheet_name='Sources2')
df_target2 = pd.read_excel(excel_file, sheet_name='Target2')

# Convert the table DataFrame to a list of dictionaries
json_data_sources1 = df_sources1.to_json(orient='records')
json_data_target1 = df_target1.to_json(orient='records')
json_data_sources2 = df_sources2.to_json(orient='records')
json_data_target2 = df_target2.to_json(orient='records')


prompt = f'''
You are an accurate sql mapping assistant 
write a big query sql that uses the sources and maps to the target definition.
The Jsons contain the metadata of the sources and targets.
Important : Dont Use the Json in the SQL.
The sql should be accurate and should not contain any errors.
The sql should be modular but no unnecessary repitition.

<EXAMPLE>
Json for the Sources = {json_data_sources1}  
Json for the Targets = {json_data_target1}
Query :
-- CTE for Latest Department
WITH LatestDepartment AS (
  SELECT ee.ID AS EmployeeID,
         ed.DEPID AS DepartmentID,
         d.name AS DepartmentName,
         ROW_NUMBER() OVER (PARTITION BY ee.ID ORDER BY ed.ValidFrom DESC) AS rn
  FROM EE ee
  LEFT JOIN ED ed ON ee.ID = ed.EMPID
  LEFT JOIN Dep d ON ed.DEPID = d.ID
),

-- CTE for Latest Department Address
LatestDepartmentAddress AS (
  SELECT ld.EmployeeID,
         ld.DepartmentID,
         ld.DepartmentName,
         a.City AS DepartmentAddressCity,
         a.State AS DepartmentAddressState,
         a.Zip AS DepartmentAddressZip,
         ROW_NUMBER() OVER (PARTITION BY ld.EmployeeID, ld.DepartmentID ORDER BY a.ValidFrom DESC) AS rn
  FROM LatestDepartment ld
  LEFT JOIN AD a ON ld.DepartmentID = a.DEPID
  WHERE ld.rn = 1
),
-- Final Query
SELECT ld.EmployeeID,
       CONCAT(CAST(ee.firstname AS VARCHAR(100)), ' ', CAST(ee.lastname AS VARCHAR(100))) AS EmployeeName,
       lda.DepartmentName,
       CAST(lda.DepartmentID AS VARCHAR(20)) AS DeptID,
       lda.DepartmentAddressCity,
       lda.DepartmentAddressState,
       lda.DepartmentAddressZip
FROM LatestDepartment ld
INNER JOIN EE ee ON ld.EmployeeID = ee.ID
LEFT JOIN LatestDepartmentAddress lda ON ld.EmployeeID = lda.EmployeeID AND ld.DepartmentID = lda.DepartmentID
WHERE ld.rn = 1;
<EXAMPLE>

Json for the Sources = {json_data_sources2}  
Json for the Targets = {json_data_target2}

'''

print(prompt)

You are an accurate sql mapping assistant
write a big query sql that uses the sources and maps to the target definition.
The Jsons contain the metadata of the sources and targets.
Important : Dont Use the Json in the SQL.
The sql should be accurate and should not contain any errors.
The sql should be modular but no unnecessary repitition.

<EXAMPLE>
Json for the Sources = [{"SourceTableName":"EE","SourceColumnName ":"ID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"Employee table","Nullable":"N"},{"SourceTableName":"EE","SourceColumnName ":"firstname","SourceColumnDataType":"varchar","UniqueDataValues ":"Raj,Kamal","TableDescription":"Employee table","Nullable":"Y"},{"SourceTableName":"EE","SourceColumnName ":"lastname","SourceColumnDataType":"varchar","UniqueDataValues ":"Kumar,Hassan","TableDescription":"Employee table","Nullable":"Y"},{"SourceTableName":"Dep","SourceColumnName ":"ID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"Department Table","Nullable":"N"},{"SourceTableName":"Dep","SourceColumnName ":"name","SourceColumnDataType":"varchar","UniqueDataValues ":"Finance,Sales","TableDescription":"Department Table","Nullable":"N"},{"SourceTableName":"ED","SourceColumnName ":"EMPID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"Employee Department table","Nullable":"N"},{"SourceTableName":"ED","SourceColumnName ":"DEPID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"Employee Department table","Nullable":"N"},{"SourceTableName":"ED","SourceColumnName ":"ValidFrom","SourceColumnDataType":"Date","UniqueDataValues ":"01-10-2020,01-01-2018","TableDescription":"Employee Department table","Nullable":"Y"},{"SourceTableName":"AD","SourceColumnName ":"City ","SourceColumnDataType":"varchar","UniqueDataValues ":"Ahmedabad,Goa","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"AD","SourceColumnName ":"State ","SourceColumnDataType":"varchar","UniqueDataValues ":"Gujarat,maharastra","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"AD","SourceColumnName ":"Zip","SourceColumnDataType":"varchar","UniqueDataValues ":"400050 ,  400093","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"AD","SourceColumnName ":"ValidFrom","SourceColumnDataType":"Date","UniqueDataValues ":"01-10-2000,01-01-2005","TableDescription":"address table","Nullable":"N"},{"SourceTableName":"AD","SourceColumnName ":"DEPID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"address table","Nullable":"N"}]
Json for the Targets = [{"TargetTableName":"Employee","TargetColumnName":"EmployeeID","TargetExplanation":"unique patient id","TargetColumnDataType":"varchar"},{"TargetTableName":"Employee","TargetColumnName":"EmployeeName","TargetExplanation":"patient full name","TargetColumnDataType":"varchar"},{"TargetTableName":"Employee","TargetColumnName":"DeptName","TargetExplanation":"Latest Department Name using valid from","TargetColumnDataType":"varchar"},{"TargetTableName":"Employee","TargetColumnName":"DeptID","TargetExplanation":"Latest Department ID using valid from","TargetColumnDataType":"varchar"},{"TargetTableName":"Employee","TargetColumnName":"DeptAddressCity","TargetExplanation":"Latest  Address for Latest Department using valid from","TargetColumnDataType":"varchar"},{"TargetTableName":"Employee","TargetColumnName":"DeptAddressState","TargetExplanation":"Latest  Address for Latest Department using valid from","TargetColumnDataType":"varchar"},{"TargetTableName":"Employee","TargetColumnName":"DeptAddressZip","TargetExplanation":"Latest  Address for Latest Department using valid from","TargetColumnDataType":"varchar"}]
Query :
-- CTE for Latest Department
WITH LatestDepartment AS (
  SELECT ee.ID AS EmployeeID,
         ed.DEPID AS DepartmentID,
         d.name AS DepartmentName,
         ROW_NUMBER() OVER (PARTITION BY ee.ID ORDER BY ed.ValidFrom DESC) AS rn
  FROM EE ee
  LEFT JOIN ED ed ON ee.ID = ed.EMPID
  LEFT JOIN Dep d ON ed.DEPID = d.ID
),

-- CTE for Latest Department Address
LatestDepartmentAddress AS (
  SELECT ld.EmployeeID,
         ld.DepartmentID,
         ld.DepartmentName,
         a.City AS DepartmentAddressCity,
         a.State AS DepartmentAddressState,
         a.Zip AS DepartmentAddressZip,
         ROW_NUMBER() OVER (PARTITION BY ld.EmployeeID, ld.DepartmentID ORDER BY a.ValidFrom DESC) AS rn
  FROM LatestDepartment ld
  LEFT JOIN AD a ON ld.DepartmentID = a.DEPID
  WHERE ld.rn = 1
),
-- Final Query
SELECT ld.EmployeeID,
       CONCAT(CAST(ee.firstname AS VARCHAR(100)), ' ', CAST(ee.lastname AS VARCHAR(100))) AS EmployeeName,
       lda.DepartmentName,
       CAST(lda.DepartmentID AS VARCHAR(20)) AS DeptID,
       lda.DepartmentAddressCity,
       lda.DepartmentAddressState,
       lda.DepartmentAddressZip
FROM LatestDepartment ld
INNER JOIN EE ee ON ld.EmployeeID = ee.ID
LEFT JOIN LatestDepartmentAddress lda ON ld.EmployeeID = lda.EmployeeID AND ld.DepartmentID = lda.DepartmentID
WHERE ld.rn = 1;
<EXAMPLE>

Json for the Sources = [{"SourceTableName":"Ptnt101","SourceColumnName ":"ID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"patient table","Nullable":"N"},{"SourceTableName":"Ptnt101","SourceColumnName ":"firstname","SourceColumnDataType":"varchar","UniqueDataValues ":"Raj,Kamal","TableDescription":"patient table","Nullable":"Y"},{"SourceTableName":"Ptnt101","SourceColumnName ":"lastname","SourceColumnDataType":"varchar","UniqueDataValues ":"Kumar,Hassan","TableDescription":"patient table","Nullable":"Y"},{"SourceTableName":"PTINS101","SourceColumnName ":"ptntid","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"patient insurance bridge","Nullable":"N"},{"SourceTableName":"PTINS101","SourceColumnName ":"insid","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"patient insurance bridge","Nullable":"N"},{"SourceTableName":"PTINS101","SourceColumnName ":"ValidFrom","SourceColumnDataType":"Date","UniqueDataValues ":"1,2","TableDescription":"patient insurance bridge","Nullable":"N"},{"SourceTableName":"ADD101","SourceColumnName ":"ID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"address table","Nullable":"N"},{"SourceTableName":"ADD101","SourceColumnName ":"Address Line 1","SourceColumnDataType":"varchar","UniqueDataValues ":"504 church street,101 gated road","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"ADD101","SourceColumnName ":"City ","SourceColumnDataType":"varchar","UniqueDataValues ":"mumbai,pune","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"ADD101","SourceColumnName ":"State ","SourceColumnDataType":"varchar","UniqueDataValues ":"maharastra,maharastra","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"ADD101","SourceColumnName ":"Zip","SourceColumnDataType":"varchar","UniqueDataValues ":"400050 ,  400093","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"ADD101","SourceColumnName ":"ValidFrom","SourceColumnDataType":"Date","UniqueDataValues ":"10-10-2024,11-10-2024","TableDescription":"address table","Nullable":"N"},{"SourceTableName":"ADD101","SourceColumnName ":"AddType","SourceColumnDataType":"varchar","UniqueDataValues ":"H,I","TableDescription":"address table","Nullable":"N"},{"SourceTableName":"ADD101","SourceColumnName ":"INSID","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"address table","Nullable":"Y"},{"SourceTableName":"ADD101","SourceColumnName ":"ptntid","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"address table","Nullable":"N"},{"SourceTableName":"INS101","SourceColumnName ":"Id","SourceColumnDataType":"int","UniqueDataValues ":"1,2","TableDescription":"insurance table","Nullable":"N"},{"SourceTableName":"INS101","SourceColumnName ":"name","SourceColumnDataType":"varchar","UniqueDataValues ":"HomeInsuranceforAll,Grownups","TableDescription":"insurance table","Nullable":"N"}]
Json for the Targets = [{"TargetTableName":"PATIENT","TargetColumnName":"PatientId","TargetExplanation":"unique patient id","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"PatientName","TargetExplanation":"patient full name","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"InsuranceName","TargetExplanation":"latest Insurance using valid from date from patient insurance bridge table","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"InsuranceId","TargetExplanation":"latest Insurance using valid from date from patient insurance bridge table","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"InsuranceAddressLine1","TargetExplanation":"Latest Insurance Address using valid from date for each patient , insurance","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"InsuranceCity","TargetExplanation":"Latest Insurance Address using valid from date for each patient , insurance","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"InsuranceState","TargetExplanation":"Latest Insurance Address using valid from date for each patient , insurance","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"InsuranceZip","TargetExplanation":"Latest Insurance Address using valid from date for each patient , insurance","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"AddressLine1","TargetExplanation":"Latest  home address from the address table using valid from date disregarding the insurance.","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"City ","TargetExplanation":"Latest  home address from the address table using valid from date disregarding the insurance.","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"State ","TargetExplanation":"Latest  home address from the address table using valid from date disregarding the insurance.","TargetColumnDataType":"varchar"},{"TargetTableName":"PATIENT","TargetColumnName":"Zip","TargetExplanation":"Latest  home address from the address table using valid from date disregarding the insurance.","TargetColumnDataType":"varchar"}]

In [13]:
import os
from dotenv import load_dotenv

# Load the environment variables from the .env file
load_dotenv()

# Access the API key
api_key = os.getenv('GEMINI_API_KEY')

import os
import requests


# Set the API endpoint and request body
url = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent'
payload = {
    "contents": [
        {
            "parts": [
                {
                    "text": prompt
                }
            ]
        }
    ]
}

# Make the API request
headers = {
    'Content-Type': 'application/json'
}
response = requests.post(url, headers=headers, json=payload, params={'key': api_key})

# Check the response
if response.status_code == 200:
    #print(response.json())
    print('')
else:
    print(f'Error: {response.status_code} - {response.text}')


data = json.loads(response.text)
#print(data)


# Extract the SQL code text
sql_code = data['candidates'][0]['content']['parts'][0]['text']

# Remove the leading and trailing triple backticks
sql_code = sql_code.strip('```')

print(sql_code)

WITH LatestInsurance AS (
  SELECT ptntid AS PatientID,
         insid AS InsuranceID,
         name AS InsuranceName,
         ROW_NUMBER() OVER (PARTITION BY ptntid ORDER BY ValidFrom DESC) AS rn
  FROM PTINS101
),

LatestInsuranceAddress AS (
  SELECT li.PatientID,
         li.InsuranceID,
         li.InsuranceName,
         a."Address Line 1" AS InsuranceAddressLine1,
         a.City AS InsuranceCity,
         a.State AS InsuranceState,
         a.Zip AS InsuranceZip,
         ROW_NUMBER() OVER (PARTITION BY li.PatientID, li.InsuranceID ORDER BY a.ValidFrom DESC,a.AddType = 'H') AS rn
  FROM LatestInsurance li
  LEFT JOIN ADD101 a ON li.InsuranceID = a.INSID
),

LatestPatientAddress AS (
  SELECT p.ID AS PatientID,
         a."Address Line 1" AS AddressLine1,
         a.City AS City,
         a.State AS State,
         a.Zip AS Zip,
         ROW_NUMBER() OVER (PARTITION BY p.ID ORDER BY a.ValidFrom DESC,a.AddType = 'H') AS rn
  FROM Ptnt101 p
  LEFT JOIN ADD101 a ON p.ID = a.ptntid
),

FinalResult AS (
  SELECT p.firstname || ' ' || p.lastname AS PatientName,
         li.InsuranceName,
         CAST(li.InsuranceID AS VARCHAR(100)) AS InsuranceID,
         lia.InsuranceAddressLine1,
         lia.InsuranceCity,
         lia.InsuranceState,
         lia.InsuranceZip,
         lpa.AddressLine1,
         lpa.City,
         lpa.State,
         lpa.Zip
  FROM Ptnt101 p
  LEFT JOIN LatestInsurance li ON p.ID = li.PatientID
  LEFT JOIN LatestInsuranceAddress lia ON li.PatientID = lia.PatientID AND li.InsuranceID = lia.InsuranceID
  LEFT JOIN LatestPatientAddress lpa ON p.ID = lpa.PatientID
  WHERE li.rn = 1 AND lpa.rn = 1
)

SELECT * FROM FinalResult;